{% extends 'core/base.html' %}

{% block title %}
    <h2>Listado de alumnos</h2>
{% endblock title %}

{% block content %}
    <h1>Colegio Las Brusquitas</h1>
    <h2>Listado de alumnos</h2>

    {% for alumno in Alumnos %}
        <p>Nombre: {{alumno.nombre}}</p>
        <p>Apellido: {{alumno.apellido}}</p>
        <p>Fecha de nacimiento: {{alumno.fecha_de_nacimiento}}</p>
        <p>Materia: {{alumno.materia_id}}</p>
        <p>docente: {{alumno.docente_id}}</p>
    {% endfor %}
{% endblock content %}
