<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela Las Brusquitas</title>
</head>
<body>
    <h1>Colegio Las Brusquitas</h1>
    <h2>Listado de alumnos</h2>
    
    {% for alumno in Alumnos %}
    <p>Nombre: {{alumno.nombre}}</p>
    <p>Apellido: {{alumno.apellido}}</p>
    <p>Fecha de nacimiento: {{alumno.fecha_de_nacimiento}}</p>
    <p>Materia: {{alumno.materia_id}}</p>
    <p>docente: {{alumno.docente_id}}</p>
        
    {% endfor %}
</body>
</html>