{% extends 'core/base.html' %}

{% block title %}
Escuela Las Brusquitas
{% endblock title %}

{% block content %}


    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Bienvenidos a la pagina de la Escuela Las Brusquitas</h1>
            <p class="lead">Podras consultar las notas de tus materias</p>
    </header>
    <!-- About section-->
    
    <!-- Bootstrap core JS-->

{% endblock content %}
